<html><meta name="viewport" content="width=device-width">
<title></title>
@ViewBag.Title
<p>Welcome @Model.FirstName @Model.LastName</p>

<p>Link: @Model.Link</p>

<p>User Name: @Model.UserName</p>

<p>Login: @Model.LoginName</p>

<p>Contact one of your system administrators if you have questions regarding your login account.&nbsp;</p>

<p>Thank you, @Model.WindowsUserName</p>
</html>